@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--foreground);
  background: var(--background);
  
}

.border_gray {
  box-shadow: -3px 2px 19px -4px rgba(0,0,0,0.20);
-webkit-box-shadow: -3px 2px 19px -4px rgba(0,0,0,0.20);
-moz-box-shadow: -3px 2px 19px -4px rgba(0,0,0,0.20);
}

@import "../../components//Home/HeroCarousel/HeroCarousel.css"




